<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hfad.simsampa">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo14"
        android:label="Sim@Sampa"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TelaPrincipal"
            android:label="@string/title_activity_tela_principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Inicializacao"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListaSubprefeituras"
            android:label="@string/title_activity_lista_subprefeituras"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Subprefeitura"
            android:label="@string/title_activity_subprefeitura"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
